- var datas = { 'Indifférence': 'Ana est différente, elle se sent incomprise et rejetée. Ce qui la mène à l\'indifférence envers les autres.', 'Polyamour': 'Ana n\'était encore jamais tombé amoureuse, elle ne pensait même pas que cela pourrait lui arriver un jour. Alors c\'est avec effarement qu\'elle développe des sentiments pour deux garçons.', 'Féminisme': 'Après de multiples mauvaises expériences avec les hommes, Ana commence à s\'intéresser au féminisme.', 'Orientation sexuelle': 'Ana rejoint une association féministe et fait de belles rencontres. Elle en vient à remettre en cause son orientation sexuelle.','Délivrance' : 'Enfin, Ana en a fini de jouer un rôle. Elle se libère d\'un poids énorme et s\'accepte telle qu\'elle est.'}

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.scss")
        title Anastasia Grace
    body 
        section.header
            <img src="./assets/images/book-small.webp", class="header__background", srcset="./assets/images/book-small.webp 400w, ./assets/images/book-med.webp 800w, ./assets/images/book-large.webp 1843w"/>
            h1.header__title Anastasia Grace 
            h2.header__subtitle Un livre écrit par SLEEPY-DREAMER
        
        section.novel 
            .book
              .book__front
                .book__cover
                  p.book__author SLEEPY-DREAMER 
                  p.book__name Anastasia Grace 
              .book__left-side
                h2 <span>SLEEPY-DREAMER</span> <span>Anastasia Grace</span>
            .book__description
                p Plongez dans l'univers d'Anastasia Grace
                p Une jeune femme en quête de son identité
                p Qui devra surmonter de nombreuses difficultés 
                p Afin d'obtenir la vérité
                p Et de s'affirmer telle qu'elle est.

        section.themes
            p.themes__catchphrase <span>Anastasia Grace</span>, le récit exaltant de la vie mouvementée d'une jeune femme à travers diverses thématiques. 
            div.scene
              .scene__left-zone
                ul.list
                  each val, index in datas
                    li.list__item
                        if index == "Indifférence"
                          input(type="radio", id='radio_' + val name="basic_carousel" value=val checked)
                        else
                          input(type="radio", id='radio_' + val name="basic_carousel" value=val) 

                        label(for='radio_' + val, class='label_' + index)
                          | #{index}
                        div(class='content content_' + index)
                          h2
                            | #{index}
                          p
                            | #{val}
              .scene__middle-border
              .scene__right-zone

        section.novels
          h2 Découvrir plus de romans écrits par cette auteure
          .novels__cards
            div(class='novels__card open')
              img(src='./assets/images/quand-tout-a-change-cover.jpg', class='book', alt="Couverture du livre : Quand tout a changé")
              .novels__info
                .novels__title Quand tout a changé
                div(class='hidden bottom novels__summary') Kiera est une jeune fille de quinze ans avec une vie monotone et une routine qu'elle connaît par cœur. Mais ça, c'était avant qu'elle n'entre au lycée. Entre amitié, amour, joie, jalousie, tristesse et trahison, cette année est loin d'être ce que qu'elle avait pu imaginer !
            div(class='novels__card')
              img(src='./assets/images/inconnu-cover.jpg', alt="Couverture du livre : L'(in)connu", class='book')
              .novels__info
                .novels__title L'(in)connu
                div(class='hidden bottom novels__summary') Ily reçoit un message d'un certain Jake, pensant qu'il s'est fait avoir et qu'une fille lui a donné un faux numéro, elle entre dans son jeu. Mais si cet inconnu n'était pas si inconnu que ça ?
            div(class='novels__card')
              img(src='./assets/images/parallelworld-cover.jpg', alt="Couverture du livre : Parallel World", class='book')
              .novels__info
                .novels__title Parallel World
                div(class='hidden bottom novels__summary') Un groupe d'adolescent vivant dans une petite ville aux États-Unis nommé Enchanted Town décident de s'aventurer dans « le manoir hanté ». Les adolescents s'y retrouvent enfermés et lorsqu'ils parviennent à en sortir ils se rendent compte que quelque chose ne va pas. Où sont-ils ? D'où leur viennent leurs pouvoirs ? Comment revenir et s'ils y arrivent garderont-ils leurs pouvoirs ? Tant de questions auxquelles ils trouveront les réponses au cours de l'histoire.
script(src="./assets/js/app.js")

